@font-face {
    font-family: 'Gilroy';
    src: url('fonts/gilroy-regular.ttf') format('truetype');
}

@font-face {
    font-family:'Gilroy-bold';
    src: url('fonts/gilroy-bold.ttf') format('truetype');
}

@font-face {
    font-family:'Gilroy-semibold';
    src: url('fonts/gilroy-semibold.ttf') format('truetype');
}

@font-face {
    font-family:'Gilroy-medium';
    src: url('fonts/gilroy-medium.ttf') format('truetype');
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Gilroy';
    background-color: #F5F9FF;
}

a:active:focus,
a:focus,
button:active:focus,
button:focus,
.textarea__textbox:active:focus,
.textarea__textbox:focus {
outline: 0!important;
outline-color: transparent!important;
outline-width: 0!important;
outline-style: none!important;
box-shadow: 0 0 0 0 rgba(0,123,255,0);
}

a {
    text-decoration: none;
}

header {
    background-color:  #ffffff;
    color: #283754;
    box-shadow: 0px 0px 16px rgba(0, 4, 41, 0.05);
    border-radius: 0px 0px 16px 16px;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav__menu, .nav__brand {
    display: flex;
    align-items: center;
}

.nav__menu {
    margin-left: 60px;
    padding: 0;
}

.nav__menu-auth {
    display: flex;
    margin-left: 40px;
    padding: 0;
}

.nav__menu-auth li::after {
    content: '';
    width: 1px;
    height: 45px;
    background-color: rgba(40,55,84,0.15);
    margin-left: 20px;
}

.nav__menu-auth li:last-child::after {
    content: '';
    width: 0;
}


ul {
    list-style: none;
}

.nav__item {
    display: flex;
    padding: 0px;
    margin-left: 30px;
    align-items: center;
}

.nav__item.first-element {
    margin-left: 0;
}

.nav__item.lang {
    margin-left: 0;
}

.nav__item .nav__item-dropdown {
    margin-left: 5px;
}

.hidden-img {
    display: none;
}

.active-img {
    display: flex;
}

.nav__link.notification {
    margin-left: 15px;
}

.nav__link:hover, .nav__link:active, .nav__item:active, .nav__subnav li a:hover, #account:hover {
    color: #236EFF;
}

.search-block {
    position: absolute;
    left: 330px;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: .5s ease-in-out;
}

.search-block input {
    width: 300px;
    height: 38px;
    padding: 5px;
    background: #F5F9FF;
    border: none;
    border-radius: 10px;
}

.search_active {
    opacity: 1;
    transform: scaleY(1);
}

span {
    margin-left: 0;
    margin-bottom: 10px;
}

.display {
    visibility: hidden;
}

.burger {
    display: none;
}

.nav__subnav {
    position: absolute;
    border-radius: 6px;
    padding: 20px;
    top: 50px;
    background: #FFFFFF;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: .5s ease-in-out;
}

#transport-subnav {
    margin-top: 90px;
}

#transport-subnav li a {
    color: #343434;
    font-size: 13px;
    opacity: 0.6;
}

#transport-subnav li a:hover {
    color: #343434;
    opacity: 1;
}

#notification-subnav {
    padding: 0;
}

#notification-subnav h3 {
    padding: 10px 20px 10px 20px;
}

#notification-subnav li {
    padding: 5px 20px 0px 20px;
}

#notification-subnav li a {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

#notification-subnav li:hover {
    background: #F5F9FF;
    cursor: pointer;
}

#notification-subnav li a:first-child {
    font-family: 'Gilroy-semibold';
    font-size: 15px;
    margin-top: 10px;
}

#notification-subnav li a:nth-child(3), #notification-subnav li a:nth-child(5) {
    color: #343434;
    opacity: 0.4;
}

#notification-subnav li a:nth-child(2), #notification-subnav li a:nth-child(4) {
    margin-top: 10px;
}

#notification-subnav hr {
    margin-top: 0;
}

.nav__subnav li a {
    font-size: 14px;
    color: black;
}

.nav__subnav li {
    margin-top: 10px;
    margin-left: 0;
}

.subnav_active {
    opacity: 1;
    transform: scaleY(1);
}

#account {
    font-family: 'Gilroy-bold';
    font-size: 14px;
    color: black;
}

#account-subnav li a {
    display: flex;
    align-items: center;
}

#account-subnav li a button {
    margin-left: 0;
}

#account-subnav li {
    margin-top: 0;
}

#account-subnav h3 {
    padding: 0;
    margin: 10px auto;
    font-family: 'Gilroy-semibold';
    font-size: 16px;
}

#account-subnav hr {
    margin-top: 10px;
    margin-bottom: 20px;
}


.nav__link, .nav__brand {
    text-decoration: none;
    line-height: 1;
    font-size: 14px;
}

.disabled {
    pointer-events: none;
    cursor: default;
}

button.standart-button, button.sign-in, .reviews__button, .go-out {
    font-family: 'Gilroy-bold';
    border-radius: 6px;
}

button.standart-button, button.add, .reviews__button {
    background-color: #FF6118;
    border: none;
} 

button.standart-button {
    width: 124px;
    height: 38px;
    color: #ffffff;
}

button.standart-button:hover, button.add:hover, button.sign-in:hover, .form__button:hover, .dialog__documents-reject:hover, button.standart-button:focus, .go-out:hover {
    cursor: pointer;
    transition: box-shadow 0.2s ease;
    color: #ffffff;
}

button.standart-button:hover, button.add:hover {
    box-shadow: 0px 0px 10px #FF6118;
}

button.standart-button:active, button.add:active {
    box-shadow: none;
}

button.sign-in, .go-out {
    width: 78px;
    height: 38px;
    background-color: transparent;
    color: #236EFF;
    border: 1px solid #236EFF;
    margin-left: 15px;
}

button.sign-in:hover, .form__button:hover, .go-out:hover {
    background-color: #236EFF;
    box-shadow: 0px 0px 10px #236EFF;
    color: #ffffff;
}

.go-out {
    width: 140px;
}

button.add {
    width: 42px;
    height: 42px;
    background-color: #FF6118;
    border-radius: 50%;
}

.container-fluid {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.breadcrumb {
    margin-top: 40px;
}


/*left-block*/

.left-block {
    margin-right: 30px;
}

.left-block__content {
    margin-top: 20px;
    padding: 10px!important;
}

.left-block__photo {
    display: flex;
    width: 100%;
    height: auto;
    filter: drop-shadow(0px 10px 40px rgba(0, 4, 41, 0.05));
    border-radius: 14px;
    margin-right: 30px;
}

.left-block__title {
    border: 1px solid rgba(35, 110, 255, 0.3);
    text-align: center;
    padding: 3px;
}

.left-block__title, .left-block__advantages {
    box-sizing: border-box;
    border-radius: 6px;
}

.left-block__title h1 {
    font-family: 'Gilroy-bold';
    font-size: 15px;
}

.left-block__additional {
    margin-top: 40px;
}

.left-block__additional form, .left-block__reviews {
    display: flex;
    flex-direction: row;
}

.left-block__additional .form__column, .reviews__left, .reviews__right {
    display: flex;
    flex-direction: column;
}

.form__column {
    margin-top: 20px;
}

.form__column:nth-child(2) {
    margin-left: 70px;
}

.form__column label {
    font-size: 12px;
    display: flex;
    align-items: center;
}

.form__column label:nth-child(2) {
    margin-top: 10px;
}


.form__button {
    font-family: 'Gilroy-bold';
    width: 138px;
    height: 32px;
    background-color: transparent;
    color: #236EFF;
    border: 1px solid #236EFF;
    border-radius: 4px;
    margin-left: auto;
    margin-top: 30px;
}

.left-block__additional-title {
    font-family: 'Gilroy-bold';
    font-size: 18px;
}

.left-block__advantages {
    background: #F5F9FF;
    margin-top: 40px;
    text-align: left;
    padding: 20px;
}

.left-block__advantages h1 {
    font-family: 'Gilroy';
    font-size: 14px;
}

.left-block__dialog {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.dialog__date, .dialog__message-info {
    color: rgba(35, 110, 255, 0.5);
    font-family: 'Gilroy';
    font-size: 12px;
}

.dialog__date {
    margin: 0 auto;
}

.dialog__message {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.dialog__message-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.dialog__message-info {
    justify-content: flex-end;
}

.dialog__message-name {
    font-family: 'Gilroy-bold';
    font-size: 14px;
    margin-left: 10px;
}

.dialog__message-text {
    font-family: 'Gilroy';
    font-size: 12px;
    margin-left: 30px;
}


.dialog__message-text img {
    margin-top: 10px;
}

.dialog__message-name, .dialog__message-text {
    margin-top: 10px;
}

.dialog__documents, .left-block__reviews, .dialog__way {
    background: linear-gradient(269.53deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 88.53%), #236EFF;
    border-radius: 6px; 
    padding: 15px;
}

.dialog__documents h2, .dialog__way h2 {
    font-family: 'Gilroy-bold';
    font-size: 16px;
    color: #ffffff;
    margin-left: 25px;
}

.dialog__documents-reject, .dialog__way-confirm {
    width: 124px;
    height: 38px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 6px;
    font-family: 'Gilroy';
    margin-left: 10px;
}

.dialog__way-confirm {
    width: 150px;
    margin-left: auto;
}

.dialog__documents-reject:hover, .dialog__way-confirm:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.dialog__documents-buttons {
    margin-left: auto;
}

hr {
    width: 100%;
    height: 0.1px;
    background: rgba(35, 110, 255, 0.1);
    margin-top: 30px;
    border: none;
}

.left-block__reviews {
    color: #ffffff;
    padding: 20px;

}

.reviews__left h2 {
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.reviews__left {
    justify-self: center;
}

.reviews__right {
    margin: 20px 0 0 25px;
    align-self: center;
}

.reviews__button {
    width: 100%;
    height: 42px;
    margin-top: 25px;
    color: #ffffff;
}

.reviews__textarea {
    background: #FFFFFF;
    color: black;
    padding: 20px 10px 80px 10px;
    border-radius: 6px;
    font-size: 12px;
    margin-top: 10px;
}

.reviews__link {
    font-family: 'Gilroy';
    font-size: 12px;
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 15px;
}

.reviews__rating {
    display: flex;
    flex-direction: row;
}

.reviews__rating img {
    margin-left: 3px;
}

.reviews__rating-text {
    font-size: 10px;
}

.left-block__reasons {
    margin-top: 30px;
}

.reasons__title {
    font-family: 'Gilroy-bold';
    font-size: 14px;
}

.reasons__content {
    display: flex;
    flex-direction: row;
}

.reasons__content ul {
    margin: 0;
    padding: 0;
    margin-top: 15px;
}

.reasons__content ul li {
    font-size: 12px;
    list-style: none;
    margin-top: 5px;
}

.reasons__discount {
    font-family: 'Gilroy-bold';
    font-size: 12px;
    display: flex;
    width: 228px;
    height: 61px;
    align-items: center;
    align-self: flex-end;
    margin-left: 15px;
    padding-left: 5px;
    padding-right: 5px;
    justify-content: center;
    color: #236EFF;
    background: rgba(35, 110, 255, 0.2);
    border-radius: 6px;
}

.reasons__content ul li::before {
    content: "\2022";
    color: #236EFF;
    display: inline-block; 
    width: 1em;
}

/*textarea*/

.inTransit__title {
    margin-top: 40px;
}

.inTransit__textarea {
    margin-top: 20px;
}

.textarea__button-bar {
    background-color: #F5F5F5;
    padding: 10px;
    border-radius: 6px 6px 0 0;
}

.textarea__button-bar ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.textarea__button-bar ul li {
    margin-left: 20px;
}

.textarea__button-bar ul li:first-child {
    margin-left: 0;
}

.textarea__button-bar ul li:nth-child(5) {
    margin-left: 30px;
}

.textarea__button-bar ul li:nth-child(9) {
    margin-left: 30px;
}

.textarea__button-bar ul li:nth-child(11) {
    margin-left: 30px;
}

.textarea__button:hover {
    cursor: pointer;
}

.textarea__button img {
    width: 15px;
    height: auto;
}

.input__file {
    opacity: 0;
    visibility: hidden;
}
   
.input__file-button-text {
    line-height: 1;
    margin-top: 1px;
}

.input__file-button img {
    width: 15px;
    height: auto;
}

.input__file-button {
    margin: 0;
}

.textarea__textbox {
    display: flex;
    flex-direction: column;
    border: 1px solid #F5F5F5;
    border-radius: 0 0 6px 6px;
    margin-right: auto;
    height: 150px;
    padding: 10px;
    color: rgba(0,0,0,0.5);
}

.textarea__bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}

.textarea__bottom:hover {
    cursor: pointer;
}

.textarea__bottom button {
    margin-left: auto;
}


.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.strikethrough {
    text-decoration: line-through;
}

.left {
    text-align: left;
}

.centerAlign {
    text-align: center;
}

.justifyAlign {
    text-align: justify;
}

.rightAlign {
    text-align: right;
}

.listNumber {
    list-style:decimal;
}


/*right-block*/

.main-content, .stage, .phone__phones, .contacts__company, .contacts__person, .documents__top, .yourCar__top, .breadcrumb {
    display: flex;
    flex-direction: row;
}

.main-content {
    margin-top: 64px;
}

.contacts, .payment, .left-block__content {
    padding: 25px;
    background-color: #fff;
    box-shadow: 0px 10px 40px rgba(0, 4, 41, 0.05);
    border-radius: 8px;
}

.contacts, .payment {
    width: 353px;
}

.contacts__phone, .contacts__email {
    margin-top: 20px;
}

.contacts__title, .payment__title, .documents__title, .yourCar__title {
    font-family: 'Gilroy-bold';
    font-size: 18px;
}

.phone__title, .email__title, .payment__subtitle {
    color: rgba(52,52,52,0.5);
    font-size: 14px;
}

.phone__2 {
    margin-left: 20px;
}

.phone__phones, .email__email {
    font-family: 'Gilroy-bold';
    font-size: 15px;
    margin-top: 11px;
}

.payment, .documents, .yourCar {
    margin-top: 20px;
}

.stage p {
    font-family: 'Gilroy-semibold';
    font-size: 16px;
    margin-left: 20px;
}

.image {
    object-fit: contain;
}

.text {
    margin-left: 20px;
}

.text p:first-child, .text a {
    padding: 0;
    margin: 0;
}

.text p:first-child {
    font-family: 'Gilroy-bold';
    font-size: 14px;
}

.text p:nth-child(2) {
    font-size: 10px;
    margin: 0;
}

.text a {
    color: #236EFF;
    text-decoration: underline;
    font-size: 10px;
}


.contacts__company {
    margin-top: 20px;
}

.person {
    margin-top: 15px;
}

/*payment*/

.stages {
    z-index: 5;
    margin-top: 7px;
}

.payment__stages-first p {
    padding-left: 30px;
}

.payment__subtitle {
    margin-top: 7px;
}



/*documents*/

.documents, .documents__dropdown, .yourCar, .yourCar__dropdown  {
    padding: 25px;
    background-color: #fff;
    box-shadow: 0px 10px 40px rgba(0, 4, 41, 0.05);
}

.documents__top:hover, .yourCar__top:hover {
    cursor: pointer;
}

.documents, .yourCar {
    border-radius: 8px;
}

.documents_active {
    border-radius: 8px 8px 0 0;
}

.documents__button, .yourCar__button {
    margin-left: auto;
    background-color: transparent;
    border: none;
}

.documents__button:hover, .yourCar__button:hover {
    cursor: pointer;
}

.documents-button_active {
    transform: rotate(180deg);
    transition: 0.3s ease;
}

.documents__dropdown, .yourCar__dropdown {
    border-radius: 0 0 8px 8px;
    margin: 0;
    padding-top: 20px;
    display: none;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: .5s ease-in-out;
}

.documents__dropdown_active {
    display: block;
    transform: scaleY(1);
}

.documents__dropdown li:first-child {
    margin-top: 0;
}

.documents__dropdown li {
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.documents__dropdown li button, .payment button {
    font-family: 'Gilroy';
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    color: #236EFF;
    font-size: 14px;
    margin-top: 15px;
}

.documents__dropdown li a {
    margin-left: 13px;
}


/*yourCar*/

.yourCar__dropdown_active {
    display: flex;
    flex-direction: row;
    transform: scaleY(1);
}

.yourCar__dropdown-content {
    margin-left: 15px;
}

.yourCar__dropdown-content button {
    font-family: 'Gilroy';
    font-size: 11px;
    text-decoration: underline;
    background-color: transparent;
    color: #236EFF;
    border: none;
    margin-top: 10px;
}

.yourCar__dropdown-title {
    font-family: 'Gilroy-bold';
    font-size: 14px;
}

.yourCar__dropdown-name, .yourCar__dropdown-phone {
    font-family: 'Gilroy-bold';
    font-size: 13px;
}

.yourCar__dropdown-subtitle {
    font-size: 10px;
    color: rgba(52,52,52,0.5);
}




/*footer*/

footer {
    background-color: #343434;
    margin-top: 120px;
    max-width: 100%;
}

.footer, .footer__bottom {
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 80px;
    color: #ffffff;
}

.footer h2 {
    font-family: 'Gilroy-semibold';
    font-size: 24px;
}

.basics, .support, .footer, .footer__bottom, .bottom__social-networks {
    display: flex;
    flex-direction: row;
}

.basics__goods, .basics__transport, .basics__auction, .footer__basics, .footer__additional, .additional, .support__phone, .support__email, .footer__support {
    display: flex;
    flex-direction: column;
}

.footer__support, #idea {
    margin-left: auto;
}

.basics__goods a:first-child, .basics__transport a:first-child, .basics__auction a:first-child {
    font-family: 'Gilroy-medium';
    color: #ffffff;
    margin-top: 15px;
}

.additional a:first-child, .support {
    margin-top: 15px;

}

.footer__bottom a:first-child {
    text-decoration: none;
    font-size: 10px;
}

.footer__bottom {
    padding-bottom: 20px;
}

.footer a {
    text-decoration: none;
    color: rgba(255,255,255,0.4);
    font-size: 14px;
    margin-top: 10px;
}

.footer__bottom a {
    text-decoration: underline;
    color: #ffffff;
    font-size: 14px;
}

.footer__bottom a:nth-child(2) {
    margin-left: 130px;
}

.footer__bottom a:nth-child(3) {
    margin-left: 30px;
}

.bottom__social-networks {
    margin-left: 90px;
}

.bottom__social-networks img {
    margin-left: 20px;
}

.basics__transport, .basics__auction {
    margin-left: 50px;
}

.footer__additional {
    margin-left: 100px;
}

.support__email {
    margin-left: 60px;
}

.support__phone a:nth-child(2), .support__email a:nth-child(2) {
    font-family: 'Gilroy-bold';
    font-size: 18px;
    color: #ffffff;
}

.footer__support button {
    margin-top: 20px;
    align-self: flex-end;
}


@media screen and (max-width: 320px) {
    header {
        width: 920px;
    }

    .nav {
        display: flex;
        justify-content: space-around; 
    }

    .nav__brand {
        font-size: 25px;
    }

    #header {
        display: flex;
        flex-direction: row;
        max-width: 770px;
    }

    .burger {
        display: flex;
        width: 25px;
        height: 16px;
        align-self: center;
        margin-left: 350px;
    }

    #nav .nav__menu, .nav__menu-auth {
        display: flex;
        flex-direction: column;
    }

    #nav .nav__menu li, .nav__menu-auth li {
        opacity: 0;
    }

    .container {
        max-width: 10px;
        margin: 0 auto;
    }

    .main-content {
        flex-direction: column-reverse;
    }

    

    .contacts, .payment, .left-block__content {
        padding: 45px;
    }
    
    .contacts, .payment, .documents, .yourCar {
        width: 420px;
    }
    
    .contacts__phone, .contacts__email {
        margin-top: 30px;
    }
    
    .contacts__title, .payment__title, .documents__title, .yourCar__title {
        font-size: 30px;
    }
    
    .phone__title, .email__title, .payment__subtitle {
        font-size: 21px;
    }
    
    .phone__2 {
        margin-left: 30px;
    }
    
    .phone__phones, .email__email {
        font-size: 25px;
    }
    
    .payment, .documents, .yourCar {
        margin-top: 30px;
    }
    
    .stage p {
        font-size: 20px;
    }
    
    .text p:first-child {
        font-size: 20px;
    }
    
    .text p:nth-child(2) {
        font-size: 13px;
        margin: 0;
    }
    
    .text a {
        font-size: 14px;
    }
    

    .documents, .documents__dropdown, .yourCar, .yourCar__dropdown  {
        padding: 45px;
    }
    
    .documents__dropdown li {
        display: flex;
        align-items: center;
        margin-top: 12px;
    }
    
    .documents__dropdown li button, .payment button {
        display: flex;
        align-items: center;
        background-color: transparent;
        border: none;
        color: #236EFF;
        font-size: 14px;
        margin-top: 15px;
    }

    .arrow-img {
        width: 20px;
        height: 17px;
    }

    .left-block {
        width: 500px;
        margin-top: 45px;
    }

    .left-block__content {
        width: 500px;
    }

    .left-block__additional form {
        display: flex;
        flex-direction: column;
    }

    .form__column:nth-child(2) {
        margin-left: 0px;
    }

    .form__button {
        margin-left: 0px;
        margin-top: 15px;
    }

    .dialog__documents, .left-block__reviews {
        display: flex;
        flex-direction: column;
    }
    
    .dialog__documents h2 {
        align-self: center;
        justify-self: center;
    }

    .dialog__documents img {
        display: flex;
        align-self: center;
    }
    
    .dialog__documents-reject {
        margin-left: 5px;
    }
    
    .dialog__documents-buttons {
        display: flex;
        margin: 0 auto;
    }

    footer {
        max-width: 320px;
        display: flex;
        align-self: center;
    }
    
    .footer, .footer__bottom {
        max-width: 1140px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    #footer {
        display: flex;
        flex-direction: row;
        max-width: 70px;
    }
}


@media screen and (max-width: 768px) {
    .nav__menu {
        margin-left: 2%;
    }

    .nav__item {
        margin-left: 2%;
}
}